.footer {
    position:fixed;
    margin-top: 5%;
    left: 0;
    bottom: 0px;
    right: 0;

    min-height: 50px;
    margin-top: 5%;
    text-decoration: none;
    color: white;
    background-color:cadetblue;
}